.header {
  padding-top: 64px;
  padding-bottom: 843px;
  height: 100vh;
}

.wrapper {
  padding: 0 15px;
  height: 25px;
  margin: 0 auto;
  align-items: center;
}

.hamburger {
  display: none;
}

.section_nav {
  margin-bottom: 198px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_nav .logo {
  display: flex;
  width: 108px;
  font-family: "Conqueror Text SemiBold";
  font-size: 32px;
  font-weight: bold;
}
.section_nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: bold;
}
.section_nav .nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.section_nav .nav li + li {
  margin-left: 40px;
}
.section_nav .nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in;
}
.section_nav .nav a:hover {
  color: #FBD784;
}
.section_nav .account {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.section_nav .account_text {
  padding: 2px;
  display: flex;
  font-family: "Gilroy";
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-in;
}
.section_nav .account_text:hover {
  color: #FBD784;
}
.section_nav .account_icon {
  display: block;
  width: 25px;
  height: 25px;
  /* background-image: url("../images/icons/account.svg"); */
}
.section_nav .account_icon:hover svg path {
  fill: #FBD784;
  transition: 0.25s fill ease-in-out;
}

.hero {
  display: block;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}
.hero:hover {
  transform: translateY(-8%);
  transition: transform 0.35s cubic-bezier(0.33, -0.6, 0.505, 1.65);
  color: #e6ffff;
}
.hero-wrapper {
  width: 980px;
  margin: 0 auto;
}
.hero-category {
  position: relative;
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.222;
  padding-left: 104px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}
.hero-category::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 72px;
  height: 2px;
  background-color: #FBD784;
}
.hero-title {
  font-family: "Conqueror Text Bold";
  font-style: normal;
  font-weight: 600;
  font-size: 88px;
  line-height: 1.136;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 32px;
  /* opacity: 65%; */
}
.hero-scroll {
  display: inline-block;
  position: relative;
  left: 15px;
  padding-right: 32px;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.222;
  color: #FFFFFF;
  /* opacity: 60%; */
}
.hero-scroll:hover {
  cursor: pointer;
  color: #FBD784;
  transition: 0.25s color ease-in-out;
}
.hero-scroll::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 16px;
  height: 24px;
  transform: translateY(-50%);
  background-image: url("../images/icons/down.svg");
}

@media (max-width: 1200px) {
  .header {
    height: 85vh;
  }
  .section_nav {
    margin-bottom: 150px;
  }
  .section_nav .logo {
    font-size: 28px;
  }
  .section_nav .nav {
    padding: 8px;
    font-size: 16px;
  }
  .section_nav .nav a {
    transition: color 0.3s ease-in;
  }
  .section_nav .account {
    transition: color 0.3s ease-in;
    font-size: 16px;
  }
  .section_nav .account:hover {
    color: #FBD784;
  }
  .hero-title {
    font-size: 60px;
  }
  .hero-category {
    font-size: 16px;
  }
  .hero-scroll {
    font-size: 16px;
    left: 28px;
  }
  .hero-scroll::after {
    zoom: 80%;
  }
}
@media (max-width: 991px) {
  .header {
    padding-bottom: 600px;
    height: 60vh;
  }
  .section_nav {
    margin-bottom: 120px;
    padding: 0 15px;
  }
  .section_nav .logo {
    font-size: 24px;
  }
  .section_nav .nav {
    font-size: 14px;
  }
  .section_nav .account {
    font-size: 14px;
  }
  .hero-wrapper {
    width: 738px;
  }
  .hero-title {
    font-size: 40px;
  }
  .hero-category {
    font-size: 15px;
  }
  .hero-scroll {
    font-size: 14px;
    left: 20px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-bottom: 465px;
    height: 50vh;
  }
  .section_nav {
    margin-bottom: 100px;
  }
  .section_nav .logo {
    width: auto;
    font-size: 22px;
  }
  .hero {
    max-width: 546px;
  }
  .hero-wrapper {
    padding: 0;
    margin: 0;
    width: 546px;
  }
  .hero-title {
    font-size: 40px;
  }
  .hero-category {
    font-size: 28px;
  }
  .hero-scroll {
    left: 18px;
  }
}
@media (max-width: 575px) {
  .header {
    padding-top: 40px;
    padding-bottom: 400px;
    height: 45vh;
  }
  .wrapper {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    height: 60px;
    width: 320px;
    max-width: 444px;
  }
  .hamburger {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    top: 45px;
    right: 20px;
    height: 18px;
    cursor: pointer;
  }
  .hamburger:hover span {
    background-color: #FBD784;
  }
  .hamburger span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #FBD784;
  }
  .hamburger .long {
    width: 36px;
  }
  .section_nav {
    margin-bottom: 60px;
    width: 300px;
    padding: 0;
  }
  .section_nav .logo {
    font-size: 26px;
  }
  .section_nav .nav {
    display: none;
  }
  .section_nav .account {
    display: none;
  }
  .hero-wrapper {
    width: 300px;
  }
  .hero-title {
    font-size: 28px;
  }
  .hero-category {
    font-size: 14px;
  }
  .hero-scroll {
    left: 17px;
  }
}
.main {
  max-width: 1492px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
}

.article {
  margin-bottom: 200px;
  display: flex;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  visibility: visible;
  width: 100%;
}
.article:nth-child(even) {
  flex-direction: row-reverse;
}
.article-wrapper {
  position: relative;
}
.article-wrapper::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  content: attr(data-number);
  width: 240px;
  height: 240px;
  font-style: normal;
  font-weight: 700;
  font-size: 240px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.1);
}
.article-subtitle {
  margin-bottom: 32px;
  position: relative;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.222;
  padding-left: 96px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}
.article-subtitle::before {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 72px;
  height: 2px;
  background-color: #FBD784;
}
.article-title {
  margin-bottom: 27px;
  max-width: 555px;
  font-family: "Conqueror Text Bold";
  font-weight: 500;
  font-size: 64px;
  line-height: 1.2;
  color: #FFFFFF;
}
.article-text {
  font-style: normal;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  color: #FFFFFF;
  margin-bottom: 27px;
}
.article-read-more {
  display: inline-block;
  position: relative;
  padding-right: 40px;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.222;
  color: #fff;
  /* color: #FBD784; */
  transition: transform 0.8s ease, color 1.2s ease;
}
.article-read-more::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 24px;
  height: 16px;
  transform: translateY(-50%);
  background-image: url("../images/icons/right.svg");
}
.article-read-more:hover {
  transform: scale(1.08);
  color: #FBD784;
}
.article-image {
  display: block;
}

.hiker-assessment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hiker-assessment_header {
  margin-bottom: 27px;
  font-family: "Conqueror Text Bold";
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  color: #FFFFFF;
}
.hiker-assessment_header.small {
  font-size: 30px;
}
.hiker-assessment_subheader {
  font-family: "Conqueror Text Bold";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.6;
  letter-spacing: -1px;
  color: #FFFFFF;
}
.hiker-assessment_quality__list {
  margin-top: 20px;
}
.hiker-assessment_quality__list li {
  font-family: "Conqueror Text Bold";
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #FFFFFF;
  list-style-type: none;
}
.hiker-assessment_quality__list li span {
  font-family: "Conqueror Text Bold";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.4;
  color: #FBD784;
  text-decoration: underline;
}
.hiker-assessment_quality__advice {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}
.hiker-assessment_quality__advice .tip {
  font-family: "Conqueror Text Bold";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #FBD784;
  text-decoration: none;
}
.hiker-assessment_quality__advice .tip .text {
  font-family: "Conqueror Text Bold";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
  text-decoration: none;
}
.hiker-assessment_links__ukraine, .hiker-assessment_links__world {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hiker-assessment_links__ukraine a, .hiker-assessment_links__world a {
  font-family: "Conqueror Text Bold";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.2;
  color: #32a9ef;
  text-decoration: none;
}
.hiker-assessment_links__ukraine p, .hiker-assessment_links__world p {
  font-family: "Conqueror Text Bold";
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.6;
  color: #FFFFFF;
}
.hiker-assessment_wish {
  margin-top: 10px;
  font-family: "Conqueror Text Bold";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
  text-decoration: underline;
}
.hiker-assessment_back {
  display: inline-block;
  position: relative;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.222;
  color: #fff;
  transition: transform 0.8s ease, color 1.2s ease;
  margin: 20px 0;
  padding-left: 40px;
}
.hiker-assessment_back::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 24px;
  height: 16px;
  transform: translateY(-50%) rotate(180deg);
  background-image: url("../images/icons/right.svg");
  background-repeat: no-repeat;
}
.hiker-assessment_back:hover {
  transform: scale(1.08);
  color: #FBD784;
}

.hiking-gear {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hiking-gear_header {
  margin-bottom: 27px;
  font-family: "Conqueror Text Bold";
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  color: #FFFFFF;
}
.hiking-gear_subheader {
  font-family: "Conqueror Text Bold";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.6;
  letter-spacing: -1px;
  color: #FFFFFF;
}
.hiking-gear_text {
  font-family: "Conqueror Text Bold";
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: #FFFFFF;
  list-style-type: none;
}
.hiking-gear_table tbody tr td {
  font-style: normal;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.38;
  color: #FFFFFF;
  margin-bottom: 27px;
  padding: 8px;
  max-height: 135px;
  min-width: 80px;
  writing-mode: vertical-rl;
  transform: rotate(200deg);
}
.hiking-gear_table tbody tr th {
  font-style: normal;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #FFFFFF;
  background-color: rgba(25, 80, 63, 0.56);
  border: 1px solid #FBD784;
  border-radius: 15px;
}
.hiking-gear_table tbody tr .lvl {
  background-color: inherit;
  border: none;
  font-size: 20px;
  line-height: 1.78;
  padding: 0 3px;
}
.hiking-gear_table-alt {
  display: none;
}
.hiking-gear_platforms {
  margin-top: 20px;
  font-family: "Conqueror Text Bold";
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.6;
  color: #FFFFFF;
  list-style-type: none;
}
.hiking-gear_platforms__title {
  color: #FBD784;
}
.hiking-gear_platforms__text {
  font-size: 18px;
  line-height: 1.4;
}
.hiking-gear_platforms__links span {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}
.hiking-gear_platforms__links span a {
  font-family: "Conqueror Text Bold";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.6;
  color: #32a9ef;
  text-decoration: none;
}
.hiking-gear_platforms__links span a:hover {
  text-decoration: underline;
  color: #FBD784;
  transition: all 0.3s ease;
}
.hiking-gear_platforms__links span p {
  font-family: "Conqueror Text Bold";
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.6;
  color: #FFFFFF;
}
.hiking-gear_back {
  display: inline-block;
  position: relative;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.222;
  color: #fff;
  transition: transform 0.8s ease, color 1.2s ease;
  margin: 20px 0;
  padding-left: 40px;
}
.hiking-gear_back::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 24px;
  height: 16px;
  transform: translateY(-50%) rotate(180deg);
  background-image: url("../images/icons/right.svg");
  background-repeat: no-repeat;
}
.hiking-gear_back:hover {
  transform: scale(1.08);
  color: #FBD784;
}

.learn-map {
  display: flex;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  width: 100%;
  gap: 50px;
}
.learn-map_text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.learn-map_text-block__title {
  margin-bottom: 27px;
  font-family: "Conqueror Text Bold";
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  color: #FFFFFF;
}
.learn-map_text-block__text {
  font-family: "Conqueror Text Bold";
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: #FFFFFF;
  list-style-type: none;
}
.learn-map_text-block__subheader {
  font-family: "Conqueror Text Bold";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.6;
  letter-spacing: -1px;
  color: #FBD784;
  text-align: center;
}
.learn-map_text-block__reader-plan {
  margin-top: 10px;
  font-family: "Conqueror Text Bold";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.6;
  letter-spacing: -1px;
  color: #FBD784;
  text-align: center;
}
.learn-map_text-block__reader-list {
  margin-top: 20px;
}
.learn-map_text-block__reader-list ul p {
  font-family: "Conqueror Text Bold";
  font-style: italic;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.6;
  color: #FFFFFF;
  list-style-type: none;
}
.learn-map_text-block__reader-list ul li {
  font-family: "Conqueror Text Bold";
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: #FFFFFF;
  list-style-type: square;
}
.learn-map_text-block__reader-list ul li span {
  font-family: "Conqueror Text Bold";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #FBD784;
  text-decoration: underline;
}
.learn-map_text-block__back {
  display: inline-block;
  position: relative;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.222;
  color: #fff;
  transition: transform 0.8s ease, color 1.2s ease;
  margin-top: 20px;
  padding-left: 40px;
}
.learn-map_text-block__back::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 24px;
  height: 16px;
  transform: translateY(-50%) rotate(180deg);
  background-image: url("../images/icons/right.svg");
  background-repeat: no-repeat;
}
.learn-map_text-block__back:hover {
  transform: scale(1.08);
  color: #FBD784;
}
.learn-map_video {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50%;
}
.learn-map_video__title {
  font-family: "Conqueror Text Bold";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.6;
  letter-spacing: -1px;
  color: #FBD784;
  text-align: center;
}
.learn-map_video__title span {
  text-decoration: underline;
}
.learn-map_video__tip {
  margin-top: 10px;
  font-family: "Conqueror Text Bold";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
  text-decoration: underline;
}
.learn-map_video iframe {
  margin-top: 10px;
  height: 415px;
  width: 738px;
}

@media (max-width: 1200px) {
  .main {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .article {
    margin-bottom: 125px;
  }
  .article-wrapper {
    padding-left: 100px;
    padding-right: 20px;
    max-width: 782px;
  }
  .article-wrapper::before {
    width: 180px;
    height: 180px;
    font-size: 180px;
  }
  .article-subtitle {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 16px;
  }
  .article-subtitle::before {
    width: 70px;
  }
  .article-title {
    margin-bottom: 27px;
    max-width: 555px;
    font-size: 42px;
  }
  .article-text {
    font-size: 16px;
    margin-bottom: 27px;
    font-weight: 500;
    line-height: 1.6;
  }
  .article-read-more {
    font-size: 17px;
    font-weight: 600;
    padding-right: 40px;
  }
  .article-read-more::after {
    zoom: 80%;
  }
  .hiker-assessment_header {
    font-size: 37px;
  }
  .hiker-assessment_header.small {
    font-size: 26px;
  }
  .hiker-assessment_subheader {
    font-size: 23px;
  }
  .hiker-assessment_quality__list {
    margin-top: 20px;
  }
  .hiker-assessment_quality__list li span {
    font-size: 20px;
  }
  .hiker-assessment_quality__advice {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
  }
  .hiker-assessment_links__ukraine, .hiker-assessment_links__world {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .hiker-assessment_links__ukraine a, .hiker-assessment_links__world a {
    min-width: 115px;
    font-size: 20px;
    white-space: nowrap;
  }
  .hiker-assessment_links__ukraine p, .hiker-assessment_links__world p {
    font-size: 18px;
  }
  .hiking-gear {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hiking-gear_header {
    font-size: 37px;
  }
  .hiking-gear_subheader {
    font-size: 23px;
  }
  .hiking-gear_text {
    margin-top: 10px;
    font-size: 20px;
  }
  .hiking-gear_table tbody tr td {
    font-size: 16px;
    margin-bottom: 27px;
    padding: 8px;
    max-height: 120px;
    min-width: 58px;
    writing-mode: vertical-rl;
    transform: rotate(200deg);
  }
  .hiking-gear_table tbody tr th {
    font-size: 18px;
  }
  .hiking-gear_table tbody tr .lvl {
    font-size: 18px;
    padding: 0 3px;
  }
  .hiking-gear_platforms__title {
    font-size: 23px;
  }
  .hiking-gear_platforms__text {
    font-size: 18px;
    line-height: 1.4;
  }
  .hiking-gear_platforms__links span a {
    font-size: 20px;
  }
  .hiking-gear_platforms__links span p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .main {
    max-width: 991px;
  }
  .article {
    margin-bottom: 100px;
  }
  .article-wrapper {
    padding-left: 80px;
    max-width: 991px;
  }
  .article-wrapper::before {
    width: 140px;
    height: 140px;
    font-size: 140px;
  }
  .article-subtitle {
    font-size: 14px;
  }
  .article-subtitle::before {
    width: 60px;
  }
  .article-title {
    max-width: 400px;
    font-size: 28px;
  }
  .article-text {
    font-size: 14px;
    margin-bottom: 22px;
    font-weight: 400;
    line-height: 1.5;
  }
  .article-read-more {
    font-size: 15px;
    font-weight: 400;
  }
  .article-image img {
    width: 400px;
  }
  .hiker-assessment_header {
    font-size: 28px;
  }
  .hiker-assessment_header.small {
    font-size: 22px;
  }
  .hiker-assessment_subheader {
    font-size: 18px;
  }
  .hiker-assessment_quality__list {
    margin-top: 20px;
  }
  .hiker-assessment_quality__list li {
    font-size: 16px;
  }
  .hiker-assessment_quality__list li span {
    font-size: 18px;
  }
  .hiker-assessment_quality__advice .tip .text {
    font-size: 16px;
  }
  .hiker-assessment_links__ukraine a, .hiker-assessment_links__world a {
    min-width: 90px;
    font-size: 18px;
  }
  .hiker-assessment_links__ukraine p, .hiker-assessment_links__world p {
    font-size: 16px;
  }
  .hiker-assessment_wish {
    font-size: 16px;
  }
  .hiker-assessment_back {
    font-size: 15px;
  }
  .hiking-gear_header {
    font-size: 28px;
  }
  .hiking-gear_subheader {
    font-size: 20px;
  }
  .hiking-gear_text {
    font-size: 18px;
  }
  .hiking-gear_table tbody tr td {
    min-width: 45px;
    font-size: 14px;
    max-height: 140px;
    padding: 4px;
  }
  .hiking-gear_table tbody tr th {
    font-size: 15px;
  }
  .hiking-gear_table tbody tr .lvl {
    font-size: 14px;
    padding: 0 2px;
  }
  .hiking-gear_platforms__title {
    font-size: 20px;
  }
  .hiking-gear_platforms__text {
    font-size: 16px;
  }
  .hiking-gear_platforms__links span a {
    font-size: 16px;
  }
  .hiking-gear_platforms__links span p {
    font-size: 14px;
  }
  .hiking-gear_back {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .main {
    max-width: 767px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .article {
    margin-bottom: 80px;
  }
  .article-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 767px;
  }
  .article-wrapper::before {
    width: 100px;
    height: 100px;
    font-size: 100px;
  }
  .article-subtitle {
    font-weight: 400;
  }
  .article-subtitle::before {
    width: 50px;
  }
  .article-title {
    font-size: 24px;
  }
  .article-read-more {
    font-size: 14px;
    padding-right: 30px;
  }
  .article-image img {
    width: 300px;
  }
  .hiker-assessment_header {
    font-size: 28px;
  }
  .hiker-assessment_header.small {
    font-size: 22px;
  }
  .hiker-assessment_subheader {
    font-size: 16px;
  }
  .hiker-assessment_quality__list {
    margin-top: 20px;
  }
  .hiker-assessment_quality__list li {
    font-size: 14px;
  }
  .hiker-assessment_quality__list li span {
    font-size: 16px;
  }
  .hiker-assessment_quality__advice .tip .text {
    font-size: 16px;
  }
  .hiker-assessment_links__ukraine a, .hiker-assessment_links__world a {
    min-width: 90px;
    font-size: 17px;
  }
  .hiker-assessment_links__ukraine p, .hiker-assessment_links__world p {
    font-size: 16px;
  }
  .hiker-assessment_wish {
    font-size: 14px;
  }
  .hiker-assessment_back {
    font-size: 14px;
  }
  .hiking-gear_header {
    font-size: 28px;
  }
  .hiking-gear_subheader {
    font-size: 20px;
  }
  .hiking-gear_text {
    font-size: 18px;
  }
  .hiking-gear_table {
    display: none;
  }
  .hiking-gear_table-alt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .hiking-gear_table-alt tr {
    display: block;
    margin-top: 10px;
    background-color: rgba(25, 80, 63, 0.56);
    border: 1px solid #FBD784;
    border-radius: 15px;
    padding: 5px;
  }
  .hiking-gear_table-alt tr td {
    width: 100px;
    font-style: normal;
    font-family: "Gilroy";
    font-weight: 700;
    line-height: 1.38;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.78;
    padding: 0 8px 0 0;
  }
  .hiking-gear_table-alt tr th p {
    font-style: normal;
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #FFFFFF;
    text-align: left;
  }
  .hiking-gear_platforms__title {
    font-size: 20px;
  }
  .hiking-gear_platforms__text {
    font-size: 16px;
  }
  .hiking-gear_platforms__links span a {
    font-size: 16px;
  }
  .hiking-gear_platforms__links span p {
    font-size: 14px;
  }
  .hiking-gear_back {
    font-size: 15px;
  }
}
@media (max-width: 575px) {
  .main {
    max-width: 575px;
  }
  .article {
    flex-direction: column;
  }
  .article:nth-child(even) {
    flex-direction: column;
  }
  .article-wrapper {
    max-width: 574px;
  }
  .article-wrapper::before {
    width: 50px;
  }
  .article-subtitle {
    font-weight: 400;
  }
  .article-subtitle::before {
    width: 50px;
  }
  .article-read-more {
    font-size: 14px;
    padding-right: 30px;
  }
  .article-image img {
    width: 300px;
  }
  .hiker-assessment_header {
    font-size: 20px;
  }
  .hiker-assessment_header.small {
    font-size: 18px;
  }
  .hiker-assessment_subheader {
    font-size: 15px;
  }
  .hiker-assessment_quality__list {
    margin-top: 20px;
  }
  .hiker-assessment_quality__list li {
    font-size: 14px;
  }
  .hiker-assessment_quality__list li span {
    font-size: 16px;
  }
  .hiker-assessment_quality__advice .tip {
    font-size: 16px;
  }
  .hiker-assessment_quality__advice .tip .text {
    font-size: 14px;
  }
  .hiker-assessment_links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .hiker-assessment_links__ukraine a, .hiker-assessment_links__world a {
    min-width: 90px;
    font-size: 15px;
  }
  .hiker-assessment_links__ukraine p, .hiker-assessment_links__world p {
    font-size: 14px;
  }
  .hiker-assessment_wish {
    margin-top: 20px;
    font-size: 14px;
  }
  .hiker-assessment_back {
    font-size: 14px;
  }
  .hiking-gear_header {
    font-size: 20px;
  }
  .hiking-gear_subheader {
    font-size: 18px;
  }
  .hiking-gear_text {
    font-size: 15px;
  }
  .hiking-gear_table-alt tr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: rgba(25, 80, 63, 0.56);
    border: 1px solid #FBD784;
    border-radius: 15px;
    padding: 10px;
  }
  .hiking-gear_table-alt tr td {
    width: auto;
    font-size: 16px;
    padding: 0;
    font-weight: 500;
    text-decoration: underline;
  }
  .hiking-gear_table-alt tr th p {
    font-style: normal;
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
    text-align: left;
  }
  .hiking-gear_platforms__title {
    font-size: 16px;
  }
  .hiking-gear_platforms__text {
    font-size: 14px;
  }
  .hiking-gear_platforms__links {
    margin-top: 10px;
  }
  .hiking-gear_platforms__links span {
    align-items: center;
    text-align: center;
  }
  .hiking-gear_platforms__links span a {
    font-size: 16px;
    line-height: 1.3;
  }
  .hiking-gear_platforms__links span p {
    font-size: 14px;
    font-style: normal;
    text-align: left;
    padding-left: 10px;
  }
  .hiking-gear_back {
    font-size: 14px;
  }
}
.footer {
  padding-bottom: 120px;
  height: 440px;
  max-width: 1492px;
  margin: auto;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 120px;
}
.footer-copyright {
  display: flex;
  flex-direction: column;
  height: 280px;
}
.footer-copyright_logo {
  display: flex;
  width: 108px;
  font-family: "Conqueror Text SemiBold";
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
}
.footer-copyright_desc {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  max-width: 303px;
}
.footer-copyright_terms {
  margin-top: auto;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  color: #fff;
  opacity: 0.5;
}
.footer-nav + .footer-nav {
  margin-left: 212px;
}
.footer-nav {
  max-width: 200px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  color: #FFFFFF;
}
.footer-nav_wrapper {
  display: flex;
  height: 280px;
  margin: 0;
  padding: 0;
}
.footer-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-nav ul li {
  font-size: 18px;
  margin: 0px;
  margin-bottom: 11px;
}
.footer-nav ul li:first-child {
  margin-top: 15px;
}
.footer-nav ul li:last-child {
  margin-bottom: 0;
}
.footer-nav ul li a:hover {
  color: #FBD784;
  transition: color 0.3s ease;
}
.footer-nav a {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  padding-bottom: 5px;
}
.footer-nav a::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  top: 0;
  bottom: -10px;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.footer-nav a:hover::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  top: 0;
  bottom: 0px;
}
.footer_title {
  margin-top: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #FBD784;
}

@media (max-width: 1200px) {
  .footer {
    padding-bottom: 68px;
    max-width: 1200px;
    height: 320px;
  }
  .footer .container {
    margin-bottom: 0;
    font-size: 16px;
    padding: 20px;
  }
  .footer-copyright {
    height: 220px;
  }
  .footer-copyright_logo {
    margin-bottom: 20px;
  }
  .footer-copyright_desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    max-width: 303px;
  }
  .footer-copyright_terms {
    font-size: 14px;
    margin-bottom: 0;
  }
  .footer-nav + .footer-nav {
    margin-left: 112px;
  }
  .footer-nav {
    max-width: 180px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
  }
  .footer-nav_wrapper {
    height: 220px;
  }
  .footer-nav_title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .footer-nav ul li {
    font-size: 16px;
    margin-bottom: 8px;
  }
}
@media (max-width: 991px) {
  .footer {
    padding-bottom: 45px;
    max-width: 991px;
  }
  .footer .container {
    font-size: 14px;
  }
  .footer-copyright {
    max-height: 180px;
  }
  .footer-copyright_desc {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
  }
  .footer-nav {
    font-size: 14px;
    line-height: 1.5;
  }
  .footer-nav_wrapper {
    height: 180px;
  }
  .footer-nav_title {
    font-size: 16px;
    font-weight: 500;
  }
  .footer-nav ul li {
    font-size: 14px;
    margin-bottom: 6px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-bottom: 40px;
    max-width: 767px;
  }
  .footer .container {
    max-height: 300px;
  }
  .footer-copyright_logo .logo {
    font-size: 40px;
  }
  .footer-copyright_desc {
    font-size: 14px;
  }
  .footer-nav + .footer-nav {
    margin-left: 10px;
    width: 260px;
    padding-left: 40px;
  }
  .footer-nav {
    width: 142px;
    max-width: 142px;
  }
  .footer-nav_wrapper {
    margin-left: 45px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer-nav_title {
    font-size: 15px;
    font-weight: 400;
  }
  .footer-nav ul li {
    margin-bottom: 5px;
  }
}
@media (max-width: 575px) {
  .footer {
    padding-bottom: 0;
    height: 480px;
    max-width: 320px;
  }
  .footer .container {
    flex-direction: column;
    max-height: 100vh;
  }
  .footer-copyright {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    order: 1;
    height: 180px;
    width: 200px;
  }
  .footer-copyright_logo {
    margin: 0 auto;
    width: 122px;
  }
  .footer-copyright_logo .logo {
    margin: 0 auto;
    font-size: 40px;
    width: 122px;
  }
  .footer-copyright_desc {
    margin: 0 auto;
    font-size: 12px;
    width: 200px;
    text-align: center;
  }
  .footer-copyright_terms {
    font-size: 12px;
    width: 200px;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
  }
  .footer-nav + .footer-nav {
    margin: 0;
    padding-left: 50px;
  }
  .footer-nav {
    max-width: 150px;
    width: 135px;
  }
  .footer-nav_wrapper {
    max-height: 200px;
    margin: 0 20px;
    width: 280px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: "Gilroy";
  background-color: #0B1D26;
  background-image: url("../images/bg/bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  max-width: 1920px;
  color: #fff;
}

@media (max-width: 1200px) {
  body {
    max-width: 1200px;
  }
}
@media (max-width: 991px) {
  body {
    max-width: 900px;
  }
}
@media (max-width: 767px) {
  body {
    max-width: 766px;
  }
}
@media (max-width: 575px) {
  body {
    max-width: 575px;
  }
}/*# sourceMappingURL=main.css.map */