@keyframes hideArticle {
  0% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes showHiker {
  0% {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes hideHiker {
  0% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes showArticle {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
	// 0% {
	// 	opacity: 1;
	// }
	// 50% {
	// 	opacity: .75;
	// }
	// 100% {
	// 	opacity: 0;
	// }
	from {
		opacity: 0;
	}
	to {
		opacity: .75;
	}
}